<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Idade</ion-label>
        <ion-input type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select placeholder="Selecione um">
          <ion-select-option value="f">Feminino</ion-select-option>
          <ion-select-option value="m">Masculino</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Confirmar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
