<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Salário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
      <ion-item lines="full">
      <ion-label position="floating">Salário</ion-label>
      <ion-input type="number" required></ion-input>
      </ion-item>

        <ion-label>Mês</ion-label>
        <ion-select value="01" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="01">Janeiro</ion-select-option>
          <ion-select-option value="02">Fevereiro</ion-select-option>
          <ion-select-option value="03">Março</ion-select-option>
          <ion-select-option value="04">Abril</ion-select-option>
          <ion-select-option value="05">Maio</ion-select-option>
          <ion-select-option value="06">Junho</ion-select-option>
          <ion-select-option value="07">Julho</ion-select-option>
          <ion-select-option value="08">Agosto</ion-select-option>
          <ion-select-option value="09">Setembro</ion-select-option>
          <ion-select-option value="10">Outubro</ion-select-option>
          <ion-select-option value="11">Novembro</ion-select-option>
          <ion-select-option value="12">Dezembro</ion-select-option>
        </ion-select>
      </ion-item>

  <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Confirmar</ion-button>
     </ion-col>
    <ion-col>
       <ion-button type="submit" color="danger" expand="block">Cancelar</ion-button>
   </ion-col>
  </ion-row>
</form>
</ion-content>
