ion-toolbar {
  ion-button {
    text-transform: initial;
    font-size: 17px;
  }
}

ion-content {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 26px;
      color: #ffffff;
      margin-bottom: 15%;
    }

    img {
      width: 90%;
      height: 125%;
      border-radius: 50%;
      border: 8px solid #ffffff;
    }
  }

  #form {
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;

    ion-button {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }
  }
  p {
    text-align: center;
    font-weight: 300;
    margin-top: 7%;
    font-size: 17px;
    color: #ffffff;
  }
}
