<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Moedas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="logo-bitcoin"  ></ion-icon>
      </ion-col>
      <ion-col>
        <ion-select>
          <ion-select-option>Bitcoin</ion-select-option>
          <ion-select-option>Ethereum</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-icon name="cash-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-select>
          <ion-select-option>Dólar</ion-select-option>
          <ion-select-option>Euro</ion-select-option>
          <ion-select-option>Real</ion-select-option>
          <ion-select-option>Peso</ion-select-option>
          <ion-select-option>Iene</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      xd
    </ion-card-content>
  </ion-card>
</ion-content>