<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Moedas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="logo-bitcoin"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-select>
          <ion-select-option>Bitcoin</ion-select-option>
          <ion-select-option>Ethereum</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-icon name="cash-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-select>
          <ion-select-option>Dólar</ion-select-option>
          <ion-select-option>Euro</ion-select-option>
          <ion-select-option>Real</ion-select-option>
          <ion-select-option>Peso</ion-select-option>
          <ion-select-option>Iene</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Criptomoeda </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <canvas baseChart [datasets]="chartData" [chartType]="chartType" [labels]="chartLabels" [colors]="chartColors" [legend]="chartLegend"></canvas >
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-item>
        <ion-label>Tipo de gráfico</ion-label>
        <ion-select [(ngModel)]="chartType">
          <ion-select-option value="line">Linha</ion-select-option>
          <ion-select-option value="bar">Barra</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>