<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-text>
            <p class="titulo-vlr">{{ labelValorD }}</p>
            <h1 class="vlr-home">R$ {{ valorDinamico }}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12">
          <ion-segment
            (ionChange)="mudarCategoriaHome($event)"
            [(ngModel)]="estadoCategoria"
            mode="ios"
            swipeGesture="true"
          >
            <ion-segment-button id="botao-renda" value="entrada">
              <ion-label>Renda</ion-label>
            </ion-segment-button>
            <ion-segment-button id="botao-gasto" value="saida">
              <ion-label>Gastos</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <canvas #graficoLinha></canvas>
      </ion-row>
      <ion-col>
        <ion-title>Últimas transações</ion-title>
        <div *ngFor="let i of listaLancamentos">
          <app-ultimos-lancamentos *ngIf="i.tipoTransacao == estadoCategoria"
          srcImg="https://i.pinimg.com/originals/83/04/31/830431f04b70f189d95cd42e4bf1d502.jpg"
          diaCompra = {{i.diaCompra}}
          titulo= {{i.titulo}}
          valor= {{i.valor}}
          tipoTransacao={{i.tipoTransacao}}
        ></app-ultimos-lancamentos>
        </div>

      </ion-col>
    </ion-grid>
  </div>
</ion-content>
