<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-text>
            <p class="titulo-vlr">Gasto total</p>
            <h1 class="vlr-home">R$ 12.000,00</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
