<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-text>
            <p class="titulo-vlr">Gasto total</p>
            <h1 class="vlr-home">R$ {{ valorDinamico }}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12">
          <ion-segment
            (ionChange)="mudarCategoriaHome($event)"
            [(ngModel)]="estadoCategoria"
            mode="ios"
            swipeGesture="true"
          >
            <ion-segment-button id="botao-renda" value="renda">
              <ion-label>Renda</ion-label>
            </ion-segment-button>
            <ion-segment-button id="botao-gasto" value="gasto">
              <ion-label>Gastos</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <canvas #graficoLinha></canvas>
      </ion-row>
      <ion-col>
        <ion-title>Últimas transações</ion-title>
        <app-ultimos-lancamentos
          diaCompra="22/04/2021"
          titulo="CDB"
          valor="100,00"
          tipoOperacao="saida"
          tipoTransacao = "investimentos"
        ></app-ultimos-lancamentos>
        <app-ultimos-lancamentos
          diaCompra="23/04/2021"
          titulo="Salário"
          valor="2500,00"
          tipoOperacao="entrada"
          tipoTransacao = "salario"
        ></app-ultimos-lancamentos
        ><app-ultimos-lancamentos
          diaCompra="01/04/2021"
          titulo="Aluguel"
          valor="100,00"
          tipoOperacao="saida"
          tipoTransacao = "imovel"
        ></app-ultimos-lancamentos
        ><app-ultimos-lancamentos
          diaCompra="20/04/2021"
          titulo="McDonalds"
          valor="100,00"
          tipoOperacao="saida"
          tipoTransacao = "alimentacao"
        ></app-ultimos-lancamentos>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>