<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" (click)="adicionarLancamento(entrada)"
    ><ion-label>Adicionar lançamento</ion-label><ion-icon name="add"></ion-icon
  ></ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let i of lancamento">
      <ion-input type="number" placeholder="Digite um valor" [(ngModel)]="entrada[i]"
        ><ion-label></ion-label
      ></ion-input>
    </ion-item>
  </ion-list>
