<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lançamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid class="ion-text-center">
      <ion-row justify-content-center align-items-center>
        <ion-col>
          <ion-button color="primary" (click)="abrirModal()"
          ><ion-label>Adicionar lançamento</ion-label><ion-icon name="add"></ion-icon
        ></ion-button>
        </ion-col>
      </ion-row>

      <app-ultimos-lancamentos *ngFor="let i of lancamentosList; let j = index"
        srcImg="https://i.pinimg.com/originals/83/04/31/830431f04b70f189d95cd42e4bf1d502.jpg"
        diaCompra = {{i.value.diaCompra}}
        titulo= {{i.value.titulo}}
        valor= {{i.value.valor}}
        tipoTransacao={{i.value.tipoTransacao}}
      ></app-ultimos-lancamentos>
  
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="abrirModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  

</ion-content>