<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lançamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid class="ion-text-center">
      <ion-row justify-content-center align-items-center>
        <ion-col>
          <ion-button color="primary" (click)="abrirModal()"
          ><ion-label>Adicionar lançamento</ion-label><ion-icon name="add"></ion-icon
        ></ion-button>
        </ion-col>
      </ion-row>
      <ion-item *ngFor="let i of lancamentosList">
        <ion-col size="10">
          <app-ultimos-lancamentos
          diaCompra = {{i.diaCompra}}
          titulo= {{i.titulo}}
          valor= {{i.valor}}
          tipoOperacao={{i.tipoOperacao}}
          tipoTransacao={{i.tipoTransacao}}
        >
        </app-ultimos-lancamentos>
        </ion-col>
        <ion-col>
        <ion-col>
            <ion-button color="light" (click)="atualizarLancamento(i)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="light" (click)="delete(i.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-col>
        </ion-col>
      </ion-item>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="abrirModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

</ion-content>
