<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Lançamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<div>
  <ion-form>
    <ion-item>
      <ion-label name = titulo position="fixed">Título</ion-label>
      <ion-input type=text></ion-input>
    </ion-item>
    <ion-item>
      <ion-label name = diaCompra position="fixed">Data</ion-label>
      <ion-dateTime></ion-dateTime>
    </ion-item>
    <ion-item>
      <ion-label name = tipoTransacao position="fixed">Tipo</ion-label>
      <ion-select>
        <ion-select-option value="entrada" >Entrada</ion-select-option>
        <ion-select-option value="saida" >Saída</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label name = valor position="fixed">Valor</ion-label>
        <ion-input type= number ></ion-input>
    </ion-item>
  </ion-form>
</div>

<ion-row>
  <ion-col>
    <ion-button type="submit" (click) = fecharModal() color="danger" expand="block"
      >Cancelar</ion-button
    >
  </ion-col>
  <ion-col>
    <ion-button type="submit" color="success" expand="block"
      >Confirmar</ion-button
    >
  </ion-col>
</ion-row>


</ion-content>